<p>
  {{title}}
</p>
<div class="row">
  <button class='all' [class.active]="filterBy=='all'" (click)="filterBy='all'">All</button>
  <button class='boat' [class.active]="filterBy=='boat'" (click)="filterBy='boat'">Boat</button>
  <button class='campaign' [class.active]="filterBy=='campaign'" (click)="filterBy='campaign'">Campaign</button>
  <button class='library' [class.active]="filterBy=='library'" (click)="filterBy='library'">Library</button>
  <ul class="imagelist" style="width:50%">
    <li *ngFor="let image of (visibleImages| imageFilter:filterBy ) " style='list-style-type:none;display:inline'>
      <a [routerLink]="['/image', image.id]">
        <img src="{{image.url}}" width="100" height="100"/>
      </a>
    </li>
  </ul>
</div>
